<%= form_with(model: book, local: true) do |form| %>
  <% if book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
        <% book.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="ui centered grid" style="margin:12px">
    <div class="ui row huge labeled input">
      <%= form.label :title, class: "ui label" %>
      <%= form.text_field :title, placeholder: 'Title' %>
    </div>

    <div class="ui row huge labeled input">
      <%= form.label :author, class: "ui label" %>
      <%= form.text_field :author, placeholder: 'Author' %>
    </div>

    <div class="ui row huge labeled input">
      <%= form.label :summary, class: "ui label" %>
      <%= form.text_field :summary, placeholder: 'Summary' %>
    </div>

    <div class="ui row" style="margin-top:16px">
      <%= form.submit 'Save', class: 'ui secondary huge button' %>
    </div>
  </div>
<% end %>
