<div class="ui row message">
  <div class="header">
    <%= page_entries_info @books %>
  </div>
</div>

<table class='ui table' style="width: 90%;">
  <thead>
  <tr>
    <th class="one wide"></th>
    <th class="four wide">Title</th>
    <th class="two wide">Author</th>
    <th class="five wide">Summary</th>
    <th class="one wide">Rental</th>
    <th class="three wide">More Actions</th>
  </tr>
  </thead>

  <tbody>
  <% @books.each_with_index do |book, index| %>
    <tr>
      <td><i class="ui icon bookmark outline"></i><%= index + 1 %></td>
      <td><%= book.title %></td>
      <td><%= book.author %></td>
      <td><%= truncate(book.summary, length: 75, omission: '... (continued)') %></td>
      <td>
        <% if book.status == 'returned' %>
          <%= link_to 'Rent', rent_book_path(book.id), method: :post, class: 'ui secondary button' %>
        <% else %>
          <%= link_to 'Return', return_book_path(book.id), method: :post, class: 'ui secondary basic button' %>
        <% end %>
      </td>
      <td>
        <div class="ui buttons">
          <%= link_to 'History', book, class: 'ui button' %>
          <%= link_to 'Edit', edit_book_path(book), class: 'ui button' %>
          <%= link_to 'Delete', book, method: :delete, data: { confirm: 'Are you sure?' }, class: 'ui button disabled' %>
        </div>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<div class='ui row'><%= paginate @books %></div>

<div class='ui row'><%= link_to 'New Book', new_book_path, class: "ui secondary large button" %></div>
