<div class="ui row message">
  <div class="header">
    <%= @book.title + " HISTORIES" %>
  </div>
</div>

<table class="ui table" style="margin: 40px;">
  <thead>
  <tr>
    <th class="one wide">Action</th>
    <th class="two wide">Nickname</th>
    <th class="three wide">Title</th>
    <th class="three wide">Author</th>
    <th class="four wide">Summary</th>
    <th class="three wide">Date</th>
  </tr>
  </thead>

  <tbody>
  <% @events.each do |ev| %>
    <tr>
      <td> <%= action_of(ev) %> </td>
      <td> <%= ev.data[:nickname] %> </td>
      <td> <%= ev.data[:title] %> </td>
      <td> <%= ev.data[:author] %> </td>
      <td> <%= ev.data[:summary] %> </td>
      <td> <%= ev.metadata[:timestamp] %> </td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to '◀︎ Back', books_url, class: 'ui button' %>
