<!DOCTYPE html>
<html>
  <head>
    <title>BookRental</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="body-container">
    <div class="main-container">
      <div class="ui centered grid" style="margin:12px 0;">
        <h1 class="ui row aligned icon header">
          <%= link_to 'https://github.com/naoki-k/book-rental', style: "text-decoration: none;" do %>
            <i class="circular book icon" style="color: black;"></i>
          <% end %>
          Book Rental
        </h1>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
