<!DOCTYPE html>
<html>
  <head>
    <title>BookRental</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="body-container">
    <div class="main-container">
      <div class="ui centered grid" style="margin-top:12px">
        <h1 class="ui row aligned icon header">
          <i class="circular book icon"></i>
          Book Rental
        </h1>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
